<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adil lahib</title>
    <link href="https://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Orders System</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/api/customers">Customers <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Orders</a></li>
            </ul>
        </div>
    </div>
</nav>
<div th:fragment="content">
    <div class="well">
        <div class="jumbotron">
            <h1>ERROR</h1>
            <p th:text="${error}">Page not found.</p>
            <p><a class="btn btn-primary btn-lg" th:href="@{/}">Go home</a></p>
        </div>
    </div>
</div>
<script src="webjars/jquery/3.2.1/jquery.js" type="application/javascript"></script>
</body>
</html>